body {
    background: url("../resources/images/background.jpg")
}

.mpw-navigation-bar {
    background-color: rgba(76, 175, 80, 0.5)
}

.mpw-container {
    width: 80%;
    height: 100%;
    margin: auto;
}

.mbw-logo {
    width: 100px
}

.mpw-card-home-page {
    background-color: rgba(255, 255, 255, 0.8) !important;
    margin-top: 50%;
}